<script>

  $(document).ready(function() {
  $('.newEvent').click(function(event){
    alert("Clicked!")
      ga('brandTrack.send', 'event', 'product', 'purchased',{'metric1':1, 'dimension2':'productIDfiddle2', 'dimension1': 'userIDfiddle'});
    }
    });
  });
});

</script>


<h1>Live Events</h1>

<div class="row">
  <div class="col-md-8">
      <%@youtube_handlers.each do |event| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <div>
                <%= link_to event.name, event %>
                <%= event.script %>
              </div>
            </h4>
          </div>
        </div>
      <% end %>

  <div id="newEvent" style="margin-top:20px">
    <%= link_to "New Live Event", new_youtube_handler_path, class: 'newEvent btn btn-success'  %>
  </div>

</div>


<script >
  $(document).ready(function() {
     $("#newEvent").click(function(e) {

       //alert("Clicked!")
       ga('brandTrack.send', 'event', 'product', 'purchased',{'metric2':10.00, 'dimension2':'newEventClick', 'dimension1': 'userID-Ralphy'});

       //e.preventDefault();
     });

    });

</script>
